:host {
  display: contents;
  &.ng-invalid.ng-dirty input {
    border: 1px solid crimson;
    box-shadow: 0 0 0 2px crimson;
  }
}

input {
  appearance: none;
  outline: none;
  background-color: transparent;

  /* 2. Apply your design */
  border: 1px solid #d8ddea;
  box-shadow:
    0 0 0 1px rgba(216, 220, 235, 1),
    0 1.5px 3px -1.5px rgba(200, 207, 233, 1),
    0 1px 0.5px -1px rgba(216, 220, 235, 1);
  border-radius: 5px;

  border-radius: 5px;
  padding: 1.2rem;
  width: 100%;
  height: 38px;

  /* 3. Sizing fix */
  box-sizing: border-box;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
  &::placeholder {
    color: rgb(164, 170, 192);
  }
  &:focus {
    box-shadow: 0 0 0 2px rgba(170, 175, 255, 1);
  }
}
