<header class="logo-bar">
  <a href="#top" rel="home">
    <img src="naologic-logo.svg" alt="Naologic" />
  </a>
</header>
<main>
  <h1>Work Orders</h1>
  <div class="timescale">
    <div>
      <span class="accent-grayout accent-background">Timescale</span>
      <div>
        <app-dropdown
          #timeDropdown
          [options]="timescaleOptions"
          [value]="currentTimescale()"
          (onChange)="selectTimescale($event)"
        ></app-dropdown>
      </div>
    </div>
  </div>
  <div class="work-center">
    <div class="work-center-list">
      <h2 class="accent-grayout">Work Center</h2>
      <div class="workers">
        @for (worker of workCenterList; track $index) {
          <div
            [class.row-highlight]="rowHover() === $index"
            (mouseenter)="rowHover.set($index)"
            (mouseleave)="rowHover.set(-1)"
          >
            <span>{{ worker.data.name }}</span>
          </div>
        }
      </div>
    </div>
    <div class="work-center-schedule">
      <cdk-virtual-scroll-viewport
        orientation="horizontal"
        [itemSize]="colWidth"
        (scroll)="updateScrollAbsoluteLayer()"
      >
        <div
          *cdkVirtualFor="let date of workOrdersData.dateRanges; let i = index"
          [style.width.px]="colWidth"
          class="schedule-column"
        >
          <div class="column-header accent-grayout">
            {{ date | date: dateFormat() }}
            @if (workOrdersData.todayIndex === i) {
              <span class="today-label in-progress">{{ currentLabel() }}</span>
            }
          </div>
          <div class="column-content">
            @for (worker of workCenterList; track $index) {
              <div
                class="content-row"
                [class.row-highlight]="rowHover() === $index"
                (click)="handleScheduleOrder(worker.docId, date)"
                (mouseenter)="rowHover.set($index)"
                (mouseleave)="rowHover.set(-1)"
              >
                <div
                  class="add-date-cell"
                  role="button"
                  matTooltip="Click to add dates"
                  matTooltipPosition="above"
                ></div>
              </div>
            }
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
      <div
        class="absolute-anchor-layer"
        [style.transform]="'translateX(' + -scrollOffset() + 'px)'"
      >
        @for (orders of workOrdersData.groupedOrders.entries(); track $index) {
          <div class="schedule-row">
            @for (order of orders[1]; track $index + currentTimescale()) {
              <div
                class="schedule-content lighten"
                [class]="order.data.status"
                [ngStyle]="order | calcWidth: workOrdersData : currentTimescale()"
              >
                <span>{{ order.data.name }}</span>
                <span class="card" [class]="order.data.status">{{
                  getStatusLabel(order.data.status)
                }}</span>
                <app-dropdown
                  [options]="workOrderActions"
                  value="delete"
                  placeholder=""
                  icon="more_horiz"
                  (onChange)="selectWorkOrderAction($event, order)"
                >
                  <ng-template #selectionEl>
                    <span></span>
                  </ng-template>
                </app-dropdown>
              </div>
            }
          </div>
        }
      </div>
    </div>
  </div>
</main>
