:host {
  display: flex;
  flex-direction: column;
  height: 100vh;

  ::ng-deep {
    // * Styles Overwrite for timescale dropdown
    div.timescale {
      div.dropdown {
        justify-content: center;
        height: 25px !important;
        border: none !important;
        box-shadow: none !important;
        padding: 4px !important;
        font-weight: 500;
        text-align: center;
        > span {
          margin: 0;
          width: fit-content;
        }
      }
    }
    div.schedule-row {
      div.dropdown {
        position: sticky;
        right: 0;
        box-sizing: border-box;
        color: var(--grayout-color);
        background-color: var(--grayout-color-background-light);
        cursor: pointer;
        width: 25px;
        min-width: 25px;
        height: 25px;
        min-height: 25px;
        padding: 0;
        mat-icon {
          color: var(--grayout-color);
        }
      }
    }
  }
}

header.logo-bar,
main {
  padding-left: 101px;
}

header.logo-bar {
  flex: 0 0 auto;
  margin: 20px 0;
  a > img {
    width: 80px;
    height: 10px;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding-top: 45px;
  > div.timescale {
    margin-bottom: 24px;
    > div {
      display: flex;
      width: fit-content;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 0px 2px 3px 0px #dee2f2;
      > span {
        padding: 4px 8px 5px 8px;
      }
      > span {
        user-select: none;
        font-weight: 400;
      }
      > div {
        width: 76px;
      }
    }
  }
  > div.work-center {
    display: grid;
    grid-template-columns: 382px 1fr;
    flex: 1 1 auto;
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    > div.work-center-list {
      border-left: 1px solid var(--border-color);
      border-right: 1px solid var(--border-color);
      > h2 {
        padding: 9px 0 8px 31px;
        border-bottom: 1px solid var(--border-color);
      }
      > div.workers > div {
        &:first-child {
          max-height: 60px;
          border-bottom: none;
          padding: 28px 0 16px 31px;
        }
        &:hover,
        &.row-highlight {
          background-color: var(--grayout-color-background-light);
        }
        padding: 16px 0 16px 31px;
        border-bottom: 1px solid var(--border-color);
        max-height: 48px;
      }
    }
    > div.work-center-schedule {
      position: relative;
      overflow: hidden;
      div.schedule-column {
        div.column-header {
          position: relative;
          text-align: center;
          padding: 8px 13px 8.5px;
          background-color: white;
          border-bottom: 1px solid var(--border-color);
          font-weight: 500;
          font-size: 1.4rem;
          span.today-label {
            display: block;
            position: absolute;
            padding: 3px;
            border-radius: 5px;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            z-index: 99;
          }
        }
        div.column-content {
          height: 100%;
          border-left: 1px solid var(--border-color);
          > div.content-row {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            anchor-name: var(--dynamic-anchor-name);
            &.row-highlight {
              background-color: rgb(237, 238, 255);
              // * Hack to cover border of parent
              &::before {
                content: '';
                position: absolute;
                height: 100%;
                width: 1px;
                background-color: inherit;
                left: -1px;
                top: 0;
              }
            }
            > div.add-date-cell {
              visibility: hidden;
              cursor: pointer;
              width: 113px;
              height: 38px;
              border-radius: 8px;
              background-color: rgb(224, 227, 255);
              border: 1px solid rgb(195, 199, 255);
            }
            &:hover > div.add-date-cell {
              visibility: visible;
            }
            &:first-child {
              height: 60px;
            }
            height: 48px;
          }
        }
      }
      div.absolute-anchor-layer {
        position: absolute;
        top: 34px;
        left: 0;
        pointer-events: none;
        touch-action: none;
        div.schedule-row {
          display: flex;
          position: relative;
          height: 48px;
          align-items: center;
          &:first-child {
            height: 60px;
          }
          > div.schedule-content {
            display: flex;
            height: 36px;
            gap: 5px;
            align-items: center;
            position: absolute;
            min-width: 40px;
            overflow: hidden;
            white-space: nowrap;
            box-sizing: border-box;
            padding: 0 8px;
            max-height: 38px;
            border-radius: 8px;
            pointer-events: auto;
            span {
              font-size: 1.4rem;
              font-weight: 400;
              pointer-events: auto;
              &:first-child {
                color: var(--primary-color-dark);
              }
              &.card {
                margin-left: auto;
                margin-right: unset;
              }
            }
          }
        }
      }
    }
  }
}
