:host {
  display: contents;
  &.ng-invalid.ng-dirty {
    border: 1px solid crimson;
    box-shadow: 0 0 0 2px crimson;
    mat-icon {
      color: crimson;
    }
  }
}

div.dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: 1px solid #d8ddea; /* 1px border */
  box-shadow:
    0 0 0 1px rgba(216, 220, 235, 1),
    0 1.5px 3px -1.5px rgba(200, 207, 233, 1),
    0 1px 0.5px -1px rgba(216, 220, 235, 1);
  border-radius: 5px;
  padding: 1.2rem;
  width: 100%;
  height: 38px;
  /* 3. Sizing fix */
  box-sizing: border-box;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
  &:focus {
    box-shadow: 0 0 0 2px rgba(170, 175, 255, 1);
  }
  &.is-active {
    > mat-icon {
      transform: scale(0.8) rotate(180deg);
    }
  }
  span {
    display: inline-block;
    margin-right: auto;
    color: var(--primary-color-light);
    &.placeholder {
      font-size: 1.4rem;
      color: rgb(164, 170, 192);
    }
  }
  > mat-icon {
    color: var(--primary-color-light);
    height: initial;
    transform-origin: center;
    transform-origin: 50% 50%;
    transform: scale(0.8);
    transition: transform 200ms ease-in-out;
    will-change: transform;
  }
}

input {
  position: absolute;
  left: 9999px;
  bottom: 9999px;
  visibility: hidden;
  height: 0;
  width: 0;
}

div.options-list {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 200px;
  overflow: hidden;
  width: 148px;
  box-shadow:
    0 0 0 1px rgba(104, 113, 150, 0.1),
    0 2.5px 3px -1.5px rgba(200, 207, 233, 1),
    0 4.5px 5px -1px rgba(216, 220, 235, 1);
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;

  button {
    height: 28px;
    font-size: 14px;
    text-align: left;
    padding: 0 12px;
    &:first-child {
      margin-top: 12px;
    }
    &:last-child {
      margin-bottom: 12px;
    }
    &.selected {
      color: var(--primary-color-light);
    }
  }
}
